{% extends 'layouts/index.html' %}

{% block content %}

    <h1>
        Product detail
    </h1>

    <h2>
    {{ product.title }} 
    </h2>

    <p>
    {{ product.description }}
    </p>
    <p>
        {{ product.price }}
    </p>
    <img src="/media/{{product.image}}" width="100%">

    
  <a href="update/">Update</a>
    <h2>Dates:</h2>
    <p>Created:{{product.created_at}}</p>
    <p>Updated:{{product.updated_at}}</p>

    <!-- <h1>Category</h1>
    {% for category in products.categories.all %}
        <p>{{category.text}}</p>
    {% endfor %} -->

    {% for review in product.rewiews.all%}
        <p>{{comment.text}}</p>
    {%endfor%}

{% endblock %}