<!-- lesson 2 -->
{% extends 'layouts/index.html' %}

{% block content %}
    <h1>Products</h1>

    <form action="/products/" method="GET">
      <input type="text" name="search" placeholder="search">
      <input type="submit" value="Search">
      
    </form>
    <a href="?order=title/" method="GET">Title</a>
    <a href="?order=-title" method="GET">-Title</a>
    <a href="?order=created_at" method="GET">Date</a>
    <a href="?order=-created_at" method="GET">-Date</a>
    <!-- <h2>{{ products }}</h2> -->
    {% for prod in products%}
        <!-- <p>{{prod.title}}</p>
        <p>{{prod.description}}</p>
        <p>{{prod.price}}</p> -->
        <div class="card" style="width: 18rem;">
            <img src="/media/{{prod.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{prod.title}}</h5>
              <p class="card-text">{{prod.description}}</p>
              {% for category in products.categories.all %}
                <a href="#">
                  {{category}}
                </a>
              {%endfor%}
              <a href="/products/{{prod.id}}/" class="btn btn-primary">More</a>
            </div>
          </div>
    {% endfor %}
    <div >
      {% for page in pages %}
          <a href="?page={{ page }}" method="GET"><h1>{{ page }}</h1></a>
      {% endfor %}
    </div>
    {% endblock %}